.jumbotron {
    padding: 6rem 2rem !important;
}
.message-table-correct{
	text-align:justify;
	text-align: center;
	font-family: sans-serif;
	color: green;
	font-style: italic;
	font-weight: bold;
}

.message-table-incorret{
	text-align:justify;
	text-align: center;
	font-family: sans-serif;
	color: red;
	font-style: italic;
	font-weight: bold;
}